<%= form_for(@cadastro) do |f| %>
  <% if @cadastro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadastro.errors.count, "error") %> prohibited this cadastro from being saved:</h2>

      <ul>
      <% @cadastro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span7 formulario-fields" id="form-pessoais">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-edit"></i></div>
        <h5>DADOS PESSOAIS</h5>
        <!-- .toolbar -->
      </header>
    </div>
    <div class="span11 offset1">
      <div class="field">
        <%= f.text_field :nome, :class=> "span9 input-tooltip input-form", :placeholder =>"NOME COMPLETO" %>
      </div>
      <div class="field">
        <%= f.text_field :cpf, :class=> "span9 input-tooltip input-form", :placeholder =>"CPF" %>
      </div>
      <div class="field">
        <%= f.text_field :rg, :class=> "span9 input-tooltip input-form", :placeholder =>"RG" %>
      </div>
      <div class="field">
        <%= f.text_field :sexo %>
      </div>
      <div class="field">
        <%= f.text_field :estado_civil%>
      </div>
      <div class="field">
        <%= f.label :data_nascimento %><br>
        <%= f.date_select :data_nascimento %>
      </div>
      <div class="span11 offset1">
        <div class="span8">     </div>
        <div class="span3">
          <a href="javascript:" id="dados-proximo-pessoais"> <button type="button" class="btn btn-block btn-medium btn-primary">Proximo >></button></a>
        </div>
      </div>
    </div>
      <!-- content -->
  </div>
  <div class="span7 formulario-fields" id="form-contato">
  <div class="box dark">
    <header>
      <div class="icons"><i class="icon-edit"></i></div>
      <h5>CONTATO</h5>
      <!-- .toolbar -->
    </header>
  </div>
    <div class="span11 offset1">
      <input id="geocomplete" class="span9" style="min-height: 40px !important;font-size: 16px;"  type="text" placeholder="Nome da sua rua, número" value="" />
      <input id="find_address" class="btn span2 btn-success" style="min-height: 40px !important;font-size: 16px;"  type="button" value="Procurar" />

     <fieldset>
      <label>Corrija eventuais erros abaixo...</label>
      <%= f.text_field :formatted_address, :class => "span7", :type => "hidden" %>
      <%= f.text_field :route, :class => "span7", :placeholder => "Nome da Rua" %>
      <%= f.text_field :street_number, :class => "span2", :placeholder => "Num" %>
      <%= f.text_field :postal_code, :class => "span4", :placeholder => "Código Postal" %>
      <%= f.text_field :locality, :class => "span5", :placeholder => "Cidade" %>
      <%= f.text_field :sublocality, :class => "span5", :placeholder => "Bairro" %>
      <%= f.text_field :country, :class => "span4", :placeholder => "País" %>
    </fieldset>
      <div class="field">
        <%= f.label :telefone %><br>
        <%= f.text_field :telefone %>
      </div>
      <div class="field">
        <%= f.label :celular %><br>
        <%= f.text_field :celular %>
      </div>
    </div>
    <div class="span11 offset1">
        <div class="span3">     
          <a href="javascript:" id="dados-anterior-contato"> <button type="button" class="btn btn-block btn-medium btn-primary"><< Anterior</button></a>
        </div>
        <div class="span5">     </div>
        <div class="span3">
          <a href="javascript:" id="dados-proximo-contato"> <button type="button" class="btn btn-block btn-medium btn-primary">Proximo >></button></a>
        </div>
      </div>
  </div>
  <div class="span7 formulario-fields" id="form-habilidades">
  <div class="box dark">
    <header>
      <div class="icons"><i class="icon-edit"></i></div>
      <h5>HABILIDADES</h5>
      <!-- .toolbar -->
    </header>
  </div>
    <div class="span11 offset1">
      <div class="span11 offset1">
        <div class="span3">     
          <a href="javascript:" id="dados-anterior-habilidade"> <button type="button" class="btn btn-block btn-medium btn-primary"><< Anterior</button></a>
        </div>
        <div class="span5">     </div>
        <div class="span3">
          <a href="javascript:" id="dados-proximo-habilidade"> <button type="button" class="btn btn-block btn-medium btn-primary">Proximo >></button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="span7 formulario-fields" id="form-interesses">
  <div class="box dark">
    <header>
      <div class="icons"><i class="icon-edit"></i></div>
      <h5>INTERESSES</h5>
      <!-- .toolbar -->
    </header>
  </div>
  <div class="span11 offset1">
    <div class="span11 offset1">
      <div class="span3">     
        <a href="javascript:" id="dados-anterior-interesses"> <button type="button" class="btn btn-block btn-medium btn-primary"><< Anterior</button></a>
      </div>
      <div class="span5">    </div>
      <div class="span3">
        <%= f.submit "Finalizar!", :class => "btn btn-block btn-medium btn-success" %>
      </div>
    </div>
  </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#form-interesses').hide();
    $('#form-habilidades').hide();
    $('#form-contato').hide();

    $( "#dados-pessoais" ).click(function() {
      show_pessoais();
    });
    $( "#dados-proximo-pessoais" ).click(function() {
      show_contato();
    });
    $( "#dados-contato" ).click(function() {
      show_contato();
    });
    $( "#dados-proximo-contato" ).click(function() {
      show_habilidades();
    });
    $( "#dados-anterior-contato" ).click(function() {
      show_pessoais();
    });
    $( "#dados-habilidade" ).click(function() {
      show_habilidades();
    });
    $( "#dados-proximo-habilidade" ).click(function() {
      show_interesses();
    });
    $( "#dados-anterior-habilidade" ).click(function() {
      show_contato();
    });
    $( "#dados-interesses" ).click(function() {
      show_interesses();
    });
    $( "#dados-anterior-interesses" ).click(function() {
      show_habilidades();
    });

    show_pessoais = function(){
      hide_form();
      $( "#form-pessoais" ).show( "slow");
    }
    show_contato = function(){
      hide_form();
      $( "#form-contato" ).show( "slow");
    }
    show_habilidades = function(){
      hide_form();
      $( "#form-habilidades" ).show( "slow");
    }
    show_interesses = function(){
      hide_form();
      $( "#form-interesses" ).show( "slow");
    }

    hide_form = function(){
      $('#form-pessoais').hide();
      $('#form-interesses').hide();
      $('#form-habilidades').hide();
      $('#form-contato').hide();
    }
  });
</script>

<script>
  $(function(){
    $("#geocomplete").geocomplete({
      details: "form",
      types: ["geocode", "establishment"]
    });

    $("#find_address").click(function(){
      $("#geocomplete").trigger("geocode");
    });
  });
</script>