<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cadastro.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cadastro.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @cadastro.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @cadastro.estado_civil %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @cadastro.data_nascimento %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cadastro.celular %>
</p>