<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cadastro.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cadastro.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @cadastro.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @cadastro.estado_civil %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @cadastro.data_nascimento %>
</p>

<p>
  <strong>Nome rua:</strong>
  <%= @cadastro.nome_rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cadastro.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cadastro.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cadastro.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cadastro.bairro %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @cadastro.pais %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cadastro.celular %>
</p>