<!DOCTYPE html>
<html>
<head>
  <title>Cadastro Unificado - Associacao Alianca Luz - Paradigma Equilibrium</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- BEGIN WRAP -->
  <div id="wrap">
    <%= render 'shared/top_bar'%>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
  <!-- END WRAP -->
  <div class="clearfix"></div>
    <%= render 'shared/footer'%>
</body>
</html>
